body {
  color: #333;
}

.weui-loadmore {
  display: none;
}

.weui-btn, .weui-btn:after {
  border-radius: 0;
  padding: 0;
  position: inherit;
}
.weui-media-box:before{
  border-top: 3px solid #959595;
  padding: .45rem .45rem .45rem 0;
  left:0;
}
.weui-btn:after {
  content: initial;
}

.weui-navbar__item:after {
  height: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.weui-navbar__item p {
  font-size: 0.85rem;
}

.weui-panel:before {
  display: none;
}
.placeholder {
  height: 4rem;
}
/*
.fixed-nav {
  position: fixed;
}*/

.btn-page {
  color: #333333;
  background-color: #e6f7ff;
  text-align: left;
  padding: 0 1rem;
  border: 1px solid #90a4ae;
  font-weight: bold;
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.25rem;
}

.btn-icon {
  align-self: center;
  height: 1.25rem;
  border-left: 1px solid #90a4ae;
}

.btn-stats {
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
}

.stats-item p {
  text-align: center;
  font-weight: bold;
}

.stats-num {
  font-size: 2rem;
  margin-bottom: -0.5rem;
}

.stats-name {
  font-size: 0.75rem;
}

.weui-panel {
  margin-top: 0;
}
.weui-panel::before{
  display: none;
}
.tab-slected {
  font-weight: bold;
  color: #1890ff;
  background-color: #e6f7ff !important;
}

.countup {
  margin: 1rem 0;
}

.tab-slected p::after {
  content: "";
  display: block;
  width: 4rem;
  height: .3rem;
  top: initial;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  background: #1890ff;
}

.box-show {
  -webkit-line-clamp: 999;
  color: #333333;
  font-size: 12px;
  line-height: 150%;
}

.box-hide {
  font-size: 12px;
  -webkit-line-clamp: 5;
  line-height: 150%;
}

.box-title {
  width: 100%;
  text-align: left;
  text-overflow: none;
  white-space: normal;
  font-weight: bold;
  color: #1b1b1b;
  font-size: 14px;
  margin-bottom: .15rem;
  font-weight: 700;
}

.box-more {
  margin-top: 0.5rem;
  width: 100%;
  text-align:right;
  text-decoration: underline;
  font-size: 11px;
  font-weight: 400;
}

.company-tab {
  background-color: #fff;
}

.footer-block {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 4rem;
  background-color: #E0E0E0;
  z-index: 10000;
}

.footer-block div {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.footer-btn {
  padding: 0.5rem 1rem;
  background-color: #333333;
  color: #ffffff;
  width: 6rem;
  text-align: center;
  font-size: .8rem;
}

.footer-left .footer-btn {
  background-color: #1890ff;
}

.mask{
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  height:100vh;
}
._mask{
  display:none;
}
.mask_image_hidden{
  position:fixed;
  opacity: 0;
}
.mask_image_visible{
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 60%;
  opacity: 1;
}

li{
  padding: 2px;
  align-content: center;
  text-align:left;
  margin-left: 8px;
}

p.thick {font-weight: bold}

.small-title{
  font-weight: bold;
  font-size:14px;
}

.small-subtitle{
  font-size:12px;
  color: #333333;
}
/*
.weui-media-box:nth-child(2):before{
  display: none;
}*/

.modified-md-header{
  margin-top: 2px;
  width: 40px !important;
  height: 40px !important;

}

.weui-panel:after{
  display:none;
}

.company_box::after{
  content: " ";
  position: absolute;
  right:30px;
  height: 0;
  border-top: 2px solid #E5E5E5;
  color: #E5E5E5;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  left: 20px;
}

.label-box{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.label-text{
  padding-left:5px;
  padding-top:2px;
  padding-bottom:2px;
  padding-right:5px;
  color:white;
  font-size:12px;
}

.box-back-top{
  z-index:800;
  position:fixed;
  right:0%;
  bottom:15%;
  height:20px;
  width: 30px;    
  text-align:center;
  padding-top:10px;    
  background-color: lightblue;
  border-radius: 20%;
  opacity:60%;
}
.box-back-top-in{
  visibility: visible;
  display:inline-block;
  height:10px;
  width: 10px;
  border: 3px solid black;
  border-color: white transparent transparent white;
  transform:rotate(45deg);
}