.small_navbar{
    position: relative;
    display: block;
    flex: 1 1;
    padding: 13px 0;
    text-align: center;
    font-size: 15px;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}
.small_navbar::before{
    content: "";
    display: block;
    width: 1px;
    height: .78rem;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background: #959595;
}
.small_navbar::after{
    position: relative;
    display: block;
    flex: 1 1;
    padding: 13px 0;
    text-align: center;
    font-size: 15px;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}
.small_navbar_active{
    font-size: .28rem;
    line-height: 1rem;
    width: 1.8rem;
    display: inline-block;
    color: #434343;
    position: relative;
    text-align: center;    font-size: .28rem;
    line-height: 1rem;
    width: 1.8rem;
    display: inline-block;
    color: #434343;
    position: relative;
    text-align: center;
}
.small_navbar_active::before{
    content: "";
    display: block;
    width: 1px;
    height: .78rem;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background: #959595;
}
.small_navbar_active::after{
    content: "";
    display: block;
    width: .55rem;
    height: .06rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    background: #1b1b1b;
}
